@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes sparkAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main-full-cont {
  background-color: rgb(214, 240, 250);
  position: relative;
  z-index: 1;
  width: 100%;
}

.main-cont {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  padding: 40px;
  align-items: flex-start;
  max-width: 1240px;
  margin: 0px auto;
  transform: translateY(2em);
  border-radius: 20px;
  box-shadow: rgba(41, 43, 55, 0.15) 0px 4px 16px 0px;
}

.left-side {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.arrow svg {
  font-size: 12px;
  color: rgba(96, 96, 96, 0.352);
}

.main-photos {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slide-container {
  position: relative;
  cursor: zoom-in;
}

.slide-container img {
  width: 100%;
  transition: opacity 0.3s ease;
  border-radius: 12px;
}

.prev-button {
  position: absolute;
  top: 42%;
  left: 5%;
  animation: opac 0.4s;
  cursor: pointer;
}

.prev-button-div svg {
  display: none;
  color: white;
  font-size: 60px;
  transition: 0.3s;
}

.prev-button:hover {
  transform: scale(1.1);
}

.next-button {
  position: absolute;
  top: 42%;
  right: 5%;
  transition: 0.3s;
  animation: opac 0.4s;
}

.next-button-div svg {
  display: none;
  color: white;
  font-size: 60px;
  transition: 0.3s;
  cursor: pointer;
}

.next-button:hover {
  transform: scale(1.1);
}
.slide-container:hover > .prev-button-div svg,
.slide-container:hover > .next-button-div svg {
  display: block;
}

.full-thumbnails {
  display: flex;
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
  gap: 10px;
  padding: 10px 0;
}

.thumb-photos {
  flex: 0 0 auto;
  opacity: 0.7;
}

.thumb-photos img {
  height: 50px;
  width: auto;
  border-radius: 10px;
  cursor: pointer;
}

.thumb-photos:hover,
.thumb-photos.active {
  opacity: 1;
  border-bottom: red 3px solid;
  border-radius: 10px;
  transition: 0.1s;
}

.goright-btn {
  position: sticky;
  background-color: rgba(165, 165, 165, 0.558);
  right: 1%;
  padding: 5px;
  border-radius: 20px;
  display: none;
  animation: opac 0.4s;
}

.goright-btn svg,
.goleft-btn svg {
  color: white;
  font-size: 35px;
}

.goleft-btn {
  position: sticky;
  background-color: rgba(165, 165, 165, 0.558);
  right: 92%;
  padding: 5px;
  border-radius: 20px;
  display: none;
  animation: opac 0.4s;
}

.full-thumbnails:hover > .goleft-btn,
.full-thumbnails:hover > .goright-btn {
  display: block;
}

.fadeOut {
  animation: fadeOut 0.3s;
}

.fadeIn {
  animation: fadeIn 0.3s;
}

.ESRBrating-div {
  display: flex;
  width: 400px;
  gap: 10px;
}

.esrb-img {
  width: 50px;
  height: 60px;
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 35px;
  gap: 30px;
}

.platform {
  display: flex;
  gap: 7px;
  align-items: center;
  align-content: center;
}

.platform span {
  color: #e60012;
  font-weight: 900;
}

.price-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.price-div svg {
  color: #e60012;
  width: 50px;
  cursor: pointer;
  color: #e60012;
}

.heart-spark {
  overflow: hidden;
}

.sparks {
  display: none;
}

.heart-spark:hover > .sparks {
  animation: sparkAnimation 0.8s ease-in-out;
  display: block;
  animation-fill-mode: forwards;
}

.heart-spark:hover {
  color: #e60012;
}

.coin-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.coin-div img {
  width: 20px;
}

.download-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  height: 70px;
  background-color: #e60012;
  border-radius: 15px;
  color: white;
  gap: 8px;
  cursor: pointer;
}

.download-btn svg {
  font-size: 30px;
}

.download-btn:hover {
  animation: repulse 0.4s;
  background-color: rgb(118, 40, 44);
  transform: scaleX(1.05) scaleY(1.05) translateZ(0px);
}

@media screen and (max-width: 1250px) {
  .main-cont {
    transform: none;
    border-radius: 0;
  }
}

@media screen and (max-width: 800px) {
  .main-full-cont {
    padding: 0;
    width: 100%;
  }
  .main-cont {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  .right-side,
  .left-side {
    width: 100%;
    padding: 0;
  }

  .ESRBrating-div {
    display: none;
  }

  .main-photos {
    gap: 10px;
  }

  .right-side {
    gap: 10px;
  }

  .download-btn {
    width: 92%;
    align-self: center;
    margin: 0px 10px 0px 1;
    height: 60px;
  }
}
