.footer-full-cont {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-cont {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 20px;
  margin-bottom: 100px;
  margin-top: 30px;
}

.footer-red-cont {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e60012;
}

.footer-red-cont img {
  width: 150px;
  height: 50px;
  margin-left: 30px;
}

.logos {
  margin-right: 20px;
  display: flex;
  gap: 40px;
}

.logos svg {
  color: white;
  font-size: 40px;
}

.last-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  width: 100%;
  height: 90px;
  background-color: rgb(36, 36, 36);
}

.last-footer p:hover {
  transition: 0.2s;
  cursor: pointer;
  border-bottom: 2px red solid;
}
.america {
  width: 30px;
}

.aas {
  display: flex;
  gap: 10px;
}

.footer-links-full {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.footer-links > div {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  gap: 4px;
  flex-direction: column;
  border-left: 1px solid rgba(128, 128, 128, 0.348);
}

.foot {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  gap: 4px;
  flex-direction: column;
  border-left: 1px solid rgba(128, 128, 128, 0.348);
}

.footer-links h1 {
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 10px 0;
  position: relative;
  cursor: pointer;
}

.footer-links span {
  color: #e60012;
  font-size: 0.96rem;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

.footer-links h1::after,
.footer-links span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #e60012;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.footer-links h1:hover::after,
.footer-links span:hover::after {
  transform: scaleX(1);
}

.cert-con {
  width: 100%;
}

.certificate {
  width: 80px;
  float: right;
  margin: 40px;
}

@media screen and (max-width: 1240px) {
  .footer-cont {
    width: 90%;
  }

  .last-footer {
    flex-direction: column;
    height: auto;
    gap: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .last-footer {
    padding-bottom: 200px;
  }

  .footer-links {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .footer-links {
    grid-template-columns: repeat(3, 1fr);
  }
  .logos {
    gap: 20px;
  }

  .footer-red-cont img {
    width: 90px;
    height: 30px;
    margin-left: 30px;
  }

  .logos svg {
    color: white;
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .footer-links {
    grid-template-columns: repeat(1, 1fr);
  }
}
